{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% comment %} <form method="post">
  {% csrf_token %}
  {{form | crispy}}
  <button class="btn btn-primary" type="submit">Submit</button>
</form>  {% endcomment %}
<form method = 'post' class = 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4'>
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
      {{hidden_field.errors}} {{hidden_field}}
      {% endfor %}
      <div class = "flex flex-wrap mx-3 mb-6">
        <div class = "w-full md:w-2/2 px-3 mb-6 md:mb-0">
          <label class = "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="{{form.name.id_for_label}}">
            {{ form.name.label }}
          </label>{{form.name}}
          {% if for.name.errors %}
          {% for error in form.name.errors %}
          <p class = 'text-red-600 text-sm italic pb-2'>{{error}}</p>
          {% endfor %}
          {% endif %}
          <div class = "w-full md:w-2/2 px-3 mb-6 md:mb-0">
            <label class = "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="{{form.email.id_for_label}}">
              {{ form.email.label }}
            </label>{{form.email}}
            {% if for.email.errors %}
            {% for error in form.email.errors %}
            <p class = 'text-red-600 text-sm italic pb-2'>{{error}}</p>
            {% endfor %}
            {% endif %}
          </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}